urlrelay>0.7
WebOb
WebTest
nose
http://pypi.python.org/packages/source/s/simplejson/simplejson-2.0.9.tar.gz#egg=simplejson
SQLAlchemy
sqlalchemy-migrate>0.5.1
ext/Paste-1.7.3dev-r7791.tar.gz
static
virtualenv
http://httplib2.googlecode.com/files/httplib2-0.4.0.tar.gz
http://pypi.python.org/packages/source/p/path.py/path-2.2.zip#md5=941660081788282887f652510d80e64e
PyCrypto
uvc>0.2.1
