Splitter.horizontal {
    border-left: 1px solid rgb(106, 105, 98);
    border-right: 1px solid black;
    background-image: -webkit-gradient(linear, left top, right top, from(#44423A), to(#3F3D36));
}

Splitter.vertical {
    border-top: 1px solid rgb(73, 72, 66);
    border-bottom: 1px solid black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#32302A), to(#161613));
}

#file_browser Label {
    color: white;
}

#projects_label {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#32302A), to(#161613));
}

#file_browser Label.evenmore, #file_browser Label.oddmore {
    padding-top: 2px;
    padding-bottom: 2px;
}

HorizontalTree {
    background-color: rgb(5, 5, 0);
}

HorizontalTree List {
    background-color: rgb(5, 5, 0);
}

HorizontalTree Label {
    font: 9pt Tahoma;
    color: white;
}

HorizontalTree Label:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#AF6814), to(#DE8419));
}

HorizontalTree Label.evenmore:active, HorizontalTree Label.oddmore:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#AF6814), to(#DE8419)), url(../images/dash_icn_more.png);
    background-repeat: repeat-x, no-repeat;
    background-position: left top, right center;
}

#project_list Label {
    background-image: url(../images/filebrowser/project-bg.gif);
    background-position: top left;
    background-repeat: repeat-x;
}

#project_list Label:active {
    background-image: url(../images/filebrowser/project-bg_selected.gif);
    background-position: top left;
    background-repeat: repeat-x;
}

/* I need to support multiple classes per component; right now I don't, hence, this mess */
HorizontalTree Label.evenmore, HorizontalTree Label.oddmore {
    background-image: url(../images/dash_icn_more.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 3px;
    padding-bottom: 1px;
}

HorizontalTree Label.even, HorizontalTree Label.odd {
    padding-top: 3px;
    padding-bottom: 1px;
}

HorizontalTree Label.even, HorizontalTree Label.evenmore {
    background-color: rgb(30, 30, 25);
}

HorizontalTree Label.odd, HorizontalTree Label.oddmore {
    background-color: rgb(5, 5, 0);
}

Label.fileActions {
    background-color: rgb(37, 34, 33);
}

Label.fileDetailLabel {
    background-color: rgb(37,34,33);
    background-image: url(../images/filebrowser/file_lg.png);
    background-repeat: no-repeat;
    background-position: left center;
    font: 14px Tahoma;
    padding-left: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

Label.fileActionLabel {
    background-color: rgb(37,34,33);
    text-align: center;
    color: rgb(75, 74, 67);
}

ActionPanel {
    background-color: rgb(61, 59, 52);
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

ActionIcon {
}

/* Project Label Area */

Label.statusProject, Label.statusFile {
   color: white;
   font: 10pt Calibri, Arial, sans-serif;
}

Label.statusSymbol {
   color: gray;
   font: 10pt Calibri, Arial, sans-serif;
}

