img {
    border: none;
}

*:focus { outline: 0; }

#header {
    height: 32px;
    background-image: url("../images/toolbar_main_bg.gif");
}

#logo {
    margin-right: 30px;
}

#commandline {
    width: 100%;
}

#command {
    border: 0;
    background: none;
    color: #DDDDDD;
    font-size: 12pt;
    font-family: Calibri, Arial, sans-serif;
    width: 100%;
}

#prompt {
    width: 11px;
}

#promptimg {
    margin-top: 6px;
    padding-right: 4px;
}

#centerpopup {
    z-index: 20;
    background: url("../images/background_white_50.png");
    position: absolute;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}

#upload-container {
    background-color: #D5D0C0;
    border: 1px solid #000;
}

#upload-header {
    border: 1px solid #2E1F1A;
    background-color: #010101;
    padding: 4px;
    color: #ddd;
    text-shadow: 1px 1px 1px #000;
}

#upload-close {
    border: none;
    padding: 5px;
    cursor: pointer;
}

#upload-content {
    padding: 0 10px 10px 10px;
}

#upload-status {
    padding-top: 4px; font-style: italic;
}

#version {
    float: right;
    padding: 8px;
    font-family: Calibri, Arial, sans-serif;
    font-size: 12px;
    color: #aaa;
}

#version a {
    text-decoration: none;
    color: #aaa;
}

.versionnumber {
    color: #777;
}

#info {
    position: absolute;
    bottom: 32px;
    left: 51px;
    padding: 20px 40px 10px 30px;
    width: 431px;
    color: #999;
    background-image: url("../images/info_popup.png");
    background-repeat: no-repeat;
    font-family: Calibri, Arial, sans-serif;
}

#info u {
    color: #999;
    text-decoration: none;
}

#info b {
	color: #ddd;
}
