img {
    border: none;
}

*:focus { outline: 0; }

#logo {
    margin-right: 30px;
}

.commandline {
    width: 100%;
}

#command {
    border: 0;
    background: none;
    color: #DDDDDD;
    font-size: 12pt;
    font-family: Calibri, Arial, sans-serif;
    width: 100%;
}

/* Hmm these don't seem to be working. Wonder why. */
.commandline input::selection { color: #44A; background: #AA4; }
.commandline input::-moz-selection { color: #44A; background: #AA4; }
/* */

.commandline .prompt {
    width: 11px;
}

#command.commandLineError {
    color: red;
}

#promptimg {
    margin-top: 6px;
    padding-right: 4px;
}

#centerpopup {
    z-index: 300;
    background: url("../images/background_white_50.png");
    position: absolute;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#overlay {
    z-index: 290;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}

#upload-container {
    background-color: #D5D0C0;
    border: 1px solid #000;
}

#upload-header {
    border: 1px solid #2E1F1A;
    background-color: #010101;
    padding: 4px;
    color: #ddd;
    text-shadow: 1px 1px 1px #000;
}

#upload-close {
    border: none;
    padding: 5px;
    cursor: pointer;
}

#upload-content {
    padding: 0 10px 10px 10px;
}

#upload-status {
    padding-top: 4px; font-style: italic;
}

#version {
    float: right;
    padding: 8px;
    font-family: Calibri, Arial, sans-serif;
    font-size: 12px;
    color: #aaa;
}

#version a {
    text-decoration: none;
    color: #aaa;
}

.versionnumber {
    color: #777;
}

#command_output {
    position: absolute;
    overflow: auto;
    color: #999;
    z-index: 210;
    font-family: Calibri, Arial, sans-serif;
}

#command_output table.command_table { width: 100%; border-collapse: collapse; }

#command_output tr.command_rowin {
    background-repeat: repeat-x;
    /*
    background-color: #1e1916;
    */
   	border-bottom: 2px solid #000;
	height: 22px;
	font-size: 110%;
}
#command_output tr.command_rowout { }
#command_output tr.command_rowin:hover .command_main { color: #83bfe1; }
#command_output tr.command_rowin img { cursor:pointer; }
#command_output tr.command_rowin img.hover { display:none; }
#command_output tr.command_rowin img.nohover { display:inline; }
#command_output tr.command_rowin:hover img.hover { display:inline; }
#command_output tr.command_rowin:hover img.nohover { display:none; }

#command_output td { vertical-align: top; }

#command_output .command_open_history { width: 20px; }
#command_output .command_open_time { width: 40px; }
#command_output .command_open_blank { width: 1px; }

#command_output .command_open { padding: 3px 3px 2px 5px; font-size:80%; color:#666; }
#command_output .command_main { font-weight: bold; color: #fff; }
#command_output .command_typed { padding-left: 5px; }

#command_output .command_hover {
	float: right;
    font-size: 80%;
    font-weight: normal;
    width: 120px;
    text-align: right;
    display: none;
    color: #666;
}

#command_output .command_hover .command_duration {
    float: left;
    padding-top: 2px;
}

#command_output tr.command_rowin:hover .command_hover { display: block; }

#command_output .command_error { color: #f99; }

#command_output tr.command_rowout th { text-align: left; }
#command_output tr.command_rowout a { font-weight: bold; color: inherit; }

#command_hint {
    position: absolute;
    padding: 20px 40px 10px 30px;
    color: #999;
    background-repeat: no-repeat;
    background-image: url("../images/info_popup.png");
    font-family: Calibri, Arial, sans-serif;
    -webkit-user-select: text;
    -moz-user-select: text;
    z-index: 220;
}

#command_output input[type=password], #command_output input[type=text], #command_output textarea {
	background: transparent;
	border: 1px solid #ff9600;
	color: #fff;
	font-family: Calibri,Arial,sans-serif;
	font-size: 100%;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

#info {
    position: absolute;
    padding: 20px 40px 10px 30px;
    color: #999;
    /*
    left: 51px;
    bottom: 0;
    width: 431px;
    background-image: url("../images/info_popup.png");
    */
    background-repeat: no-repeat;
    font-family: Calibri, Arial, sans-serif;
    -webkit-user-select: text;
    -moz-user-select: text;
    z-index: 200;
}

#info u {
    color: #999;
    text-decoration: none;
}

#info b {
    color: #ddd;
}

#info a {
    color: #999;
}

#quickopenContainer {
    height: 0;
    width: 0;
}

/*
 * Contains the Styles Scrollbars
 */

/* Turn on a 16x16 scrollbar */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:end:increment {
    background-image: url("../images/scroll_cntrl_dwn.png");
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:start:decrement {
    background-image: url("../images/scroll_cntrl_up.png");
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
    background-image: url("../images/scroll_gutter_top.png"), url("../images/scroll_gutter_mid.png");
    background-repeat: no-repeat, repeat-y;
}

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
    background-image: url("../images/scroll_gutter_btm.png"), url("../images/scroll_gutter_mid.png");
    background-repeat: no-repeat, repeat-y;
    background-position: bottom left, 0 0;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height: 56px;
    -webkit-border-image: url("../images/scroll_thumb.png") 8 0 8 0 stretch stretch;
    border-width: 8 0 8 0;
}
