Scrollbar {
    -th-vscroll-top-image: url(/images/dash_vscroll_top.png);
    -th-vscroll-middle-image: url(/images/dash_vscroll_middle.png);
    -th-vscroll-bottom-image: url(/images/dash_vscroll_bottom.png);

    -th-vscroll-track-top-image: url(/images/dash_vscroll_track_top.png);
    -th-vscroll-track-middle-image: url(/images/dash_vscroll_track_middle.png);
    -th-vscroll-track-bottom-image: url(/images/dash_vscroll_track_bottom.png);

    -th-vscroll-up-image: url(/images/dash_vscroll_up_arrow.png);
    -th-vscroll-down-image: url(/images/dash_vscroll_down_arrow.png);
}